*{
    margin: 0;
    padding: 0;
    box-sizing: border;
}

.real_show{
    display: block;
    opacity: 0;
    animation:  showing 0.2s ease-out 1 forwards;
    background-color: #232323;
}

@keyframes showing {
    0%{
        opacity: 0;
        padding-top: 0px;
    }
    10%{
        opacity: 7;
        padding-top: 3px;
    }
    100%{
        opacity: 10;
        padding-top: 10px;
    }
}

.navbar{
    /* height: 14vh; */
    background-color: #232323;
    font-size: 0.8em;
    opacity: 1;
    transition: all 0.5s ease;
    /* background: transparent; */

}
.container-fluid {
    /* padding-right: 3px; */
    padding-left: 33%;
}
.dropdown-menu{
    background-color: #232323;
    color: white;
}
.dropdown-item{
    color: white;
}

.nav-item {
    /* padding-left: 3%; */
    margin: 0 6px 0 11px;
}
/* .abt_us:hover, .cars:hover{
    color: orange;
    background-color: white;
    color: #232323;
} */
.nav-item:hover{
    background-color: white;
    color: #232323;
}

.nav-item:hover .nav-link{
    color: #232323;
}

.nav-link {
    color: white;
    width: 124px;
}
body{
    font-family: 'Quicksand', sans-serif;
}
nav + h1{
    color: white;
    text-align: center;
    padding-top: 3%;
    font-size: 4em;
}
nav+h1+h3{
    color: white;
    text-align: center;
    padding-top: 13%;
    font-size: 3em;
}



.navbar-brand img{
    width: 30%;
}

.navbar-brand{
    margin-left: -42%;
    transition: all 0.2s ease-out;
    display: flex;
}

.navbar-brand h1 {
    font-size: 0.7em;
    /* position: absolute; */
    top: 63%;
    left: 16%;
    padding-top: 11%;
    /* padding-right: 12px; */
}



#homeItem {
    margin-right: 0px;
}
#homeLink {
    width: 79px;
}

#abt_usItem {
    margin: 0px 0px;
}
#abt_usLink{
    width: 120px;
}

#mediaItem {
    margin: 0px 8px;
}
#mediaLink{
    width:80px;
}

#carsLink{
    width: 80px;
}
#carsItem{
    margin: 0px 0px;
}

#formula-studentItem{
    margin-right: -13px;
}
#formula-studentLink{
    width: 155px;
}

#sponsorsItem{
    margin-right: 22px;
}
#sponsorsLink{
    width:102px;
}



.footer{
    color: white;
    background-color: #111 !important;
    border-radius: 0px;
}
#insideFooter1{
    display: flex;
    /* padding-top: 3%; */
    flex-wrap: wrap;
}

#frontFooter1 {
    width: 32%;
    padding: 1% 7% 0% 8%;
    font-size: 0.8em;
    /* text-align: center; */
}


#insideFooter2{
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

#insideFooter2 i{
    padding: 0.5% 1%;
    font-size: 1.4em;
    color: #888;
    transition: all 0.2s ease-out;
}
#insideFooter2 p{
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(243, 243, 243);

}
#map{
    padding-left: 16%;
    min-width: 90%;
    max-width: 100%;
    
}

#lnkdn:hover{
    color: white;
}
#insta:hover{
    color: white;
}

#utube:hover{
    color: white;
}

#mail:hover{
    color: white;
}

.imgCrop{
    width:50%;
    height:50%;
    background: url('https://upload.wikimedia.org/wikipedia/commons/e/e5/FSG_2010_GroupPicture_almonat.jpg');
}

#formulaImg {
    width: 540px;
    padding: 5% 6% 5% 8%;
}

#formulaImgDiv {
    /* width: 58%; */
}


.page1{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}
#page1pDiv{
    width: 43%;
}

#page1pDiv h1{
    padding-top: 5%;
}

#page1pDiv button {
    font-size: 1.3em;
    padding: 1.8% 6%;
    border-radius: 33px;
    border: none;
    background-color: #13adff;
    color: white;
    font-weight: bold;
}

#page1pDiv button:hover{
    background-color: #0089d3;

}

.page2 h2{
    text-align: center;
}
.frst{
    display: flex;
    margin: auto;
}
.frst img{
    margin: 0% 8%;
}
.speakers{
    /* margin: auto; */
    display: flex;
    flex-direction: row;
}


.scnd{
    display: flex;
    margin: auto;
}
.scnd img{
    margin: 0% 8%;
}

.thrd{
    display: flex;
    margin: auto;
}
.thrd img{
    margin: 0% 8%;
}

.frth{
    display: flex;
    margin: auto;
}
.frth img{
    margin: 0% 8%;
}

.fifth{
    display: flex;
    margin: auto;
}
.fifth img{
    margin: 0% 8%;
}

.frst, .scnd, .thrd, .frth, .fifth {
    padding: 3% 3%;
    margin: 3% auto;
    background-color: khaki;
    width: 80%;
    border-radius: 17px;
    flex-wrap: wrap;
}
#rp1p1, #rp2p1, #rp3p1, #rp4p1, #rp5p1{
    width: 440px;
    padding: 3% 0% ;
    
}

.staticEventContent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.para {
    width: 480px;
    padding-left: 6%;
}
.para+img {
    width: 420px;
    height: 100%;
    margin-left: 9%;
}
.page3 h2{
    text-align: center;
    padding: 5% 0%;
}
#dynamicEvents{
    text-align: center;
}