*{
    margin: 0;
    padding: 0;
    box-sizing: border;
}

.navbar{
    /* height: 14vh; */
    background-color: #232323;
}
.container-fluid{
    padding-left: 40%;
}
.dropdown-menu{
    background-color: #232323;
    color: white;
}
.dropdown-item{
    color: white;
}