nav+h1+h3 {
    font-size: 1.5em;
}

#textOfPage2 h2 {
    font-size: 2.4em;
}

.threeBoxes .col{
    padding-bottom:43px;
}

#card1 {
    padding-bottom: 12%;
}

#card2{
    padding-bottom: 14%;

}

nav + h1 {
    font-size: 3em;
}

#textOfPage2 button {
    padding: 4% 9%;
    font-size: 0.8em;
}

#homePageBtn {
    font-size: 0.7em;
    padding: 3% 9%;
}