nav+h1+h3 {
    font-size: 1.5em;
}



#frontFooter1 {
    width: 209px;
    /* padding: 0% 7% 0% 15%; */
    font-size: 0.8em;
    /* text-align: center; */
    margin: auto;
}

#contacts {
    /* margin: -34px 22px; */
    width: 209px;
    padding: 0% 4%;
}

.abt_us {
    width: 88%;
}

.nav-item:hover .nav-link{
    color: none;
}

.nav-link{
    color:none;
    width: none;
}

.nav-item:hover{
    background-color: none;
    color: none;
}

.real_show{
    display: block;
    opacity: 0;
    animation:  showing 0.2s ease-out 1 forwards;
    background-color: #232323;
}

@keyframes showing {
    0%{
        opacity: 0;
        padding-top: 0px;
    }
    10%{
        opacity: 7;
        padding-top: 3px;
    }
    100%{
        opacity: 10;
        padding-top: 10px;
    }
}
.abt_us{
    background-color: #232323 !important;
}
.abt_us .nav-link{
    color: white !important;
}

.cars .nav-link{
    color: white !important;
}
.cars{
    background-color: #232323 !important;

}




.sponsors img {
    margin: 9% auto;
    /* padding: 1% 0% 0% 0%; */
    width: 65%;
    padding: 0% 12%;
}

#altair{
    width: 65%;
}

#clgName img {
    width: 35%;
    margin: 59px auto;
}

nav+h1{
    font-size:2em;
}
#paraDiv p{
    font-size: 0.8em;
}

#btnDiv button{
    font-size: 0.6em;
    padding: 9px 20px;
}
#sponsorHeading{
    font-size: 2.6em;
}